<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../static/styles/audio/style.css">
    <title>Audio Translator</title>
</head>

<body class="container pt-5">
    <div class="mt-4" id="div_language">
        <h2 class="mb-3">Select Language of audio</h2>
        <select class="form-select" id="select_language" onchange="updateCountry(select_language, select_dialect, langs)"></select>
        <select class="form-select mt-2" id="select_dialect"></select>
    </div>
    <div class="mt-4" id="div_language2">
        <h2 class="mb-3">Select Language to be translated to</h2>
        <select class="form-select" id="select_language2" onchange="updateCountry(select_language2, select_dialect2, langs2)"></select>
        <select class="form-select mt-2" id="select_dialect2"></select>
    </div>
    <h2 class="mt-4">Transcript</h2>
    <div class="p-3" style="border: 1px solid gray; height: 300px; border-radius: 8px;">
        <span id="final"></span>
        <span id="interim"></span>
    </div>
    <div class="mt-4">
        <button class="btn btn-warning" id="start-recording">Start Recording</button>
        <button class="btn btn-info" id="stop-recording">Stop Recording</button>
        <p id="status" class="lead mt-3" style="display: none">Recording has began, start talking...</p>
    </div>
    <h2 class="mt-4">Translated</h2>
    <div class="p-3" style="border: 1px solid gray; height: 300px; border-radius: 8px;">
        <p id="speechTranslate"></p>
    </div>
    <div id="Links">
        <a href="/">Home page</a>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webkitSpeechRecognition/1.1.1/webkitSpeechRecognition.min.js"></script>
<script src="../static/scripts/audio/script.js"></script>
<script src="../static/scripts/audio/speech.js"></script>
</html>